<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuannie.devatlas.page.domain.repository.PageRepository">

    <!-- ResultMap tells MyBatis how to build a Java object out of a result-set row when it can't (or you don't want it to) guess -->
    <resultMap id="PageResultMap" type="com.xuannie.devatlas.page.domain.model.Page">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="workspaceId" column="workspace_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ownerId" column="owner_id"/>
        <result property="content" column="content"/>
        <result property="archived" column="archived"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="archivedAt" column="archived_at"/>
    </resultMap>

    <!-- findById should not allowed archived pages to be found -->
    <select id="findById" resultMap="PageResultMap">
        SELECT *
        FROM pages
        WHERE id = #{pageId}
        AND archived = FALSE;
    </select>

    <!-- getAllPages should not allowed archived pages to be found -->
    <select id="findAll" resultMap="PageResultMap">
        SELECT *
        FROM pages
        WHERE parent_id = #{parentId}
        AND archived = FALSE;
    </select>

    <!-- Viewing archived pages should be done with specific functions -->
    <select id="findArchivedById" resultMap="PageResultMap">
        SELECT *
        FROM pages
        WHERE id = #{pageId}
        AND archived = TRUE;
    </select>

    <select id="isExistingSiblingPageByParentPage" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM pages WHERE parent_id = #{parentId} AND name = #{pageName});
    </select>

    <!-- useGeneratedKeys="true" returns the generated primary key -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.xuannie.devatlas.page.domain.model.Page">
        INSERT INTO pages (name, workspace_id, parent_id, owner_id, content)
        VALUES (#{name}, #{workspaceId}, #{parentId}, #{ownerId}, #{content});
    </insert>

    <!-- Can update workspace_id since we can move pages eventually but not rootPage -->
    <update id="update" useGeneratedKeys="true" parameterType="com.xuannie.devatlas.page.domain.model.Page">
        UPDATE pages
        <set>
            <if test="name != null">name = #{name}, </if>
            <if test="workspaceId != null">workspace_id = #{workspaceId}, </if>
            <if test="parentId != null">parent_id = #{parentId}, </if>
            <if test="archivedAt != null">archived_at = #{archivedAt}, </if>
            <if test="content != null">content = #{content}, </if>
            <if test="ownerId != null">owner_id = #{ownerId}, </if>
            <if test="archived != null">archived = #{archived}, </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM pages WHERE id = #{pageId}
    </delete>

    <!-- An Archive Root is any page that has been archived, and has null as a parent or the parent isnt archived -->
    <select id="findAllArchivedPages" resultMap="PageResultMap">
        SELECT p.*
        FROM pages p
        LEFT JOIN pages parent
        ON p.parent_id = parent.id
        WHERE p.archived = TRUE
        AND (p.parent_id IS NULL OR parent.archived = FALSE);
    </select>

    <select id="findByArchivedId" resultMap="PageResultMap">
        SELECT *
        FROM pages
        WHERE id = #{pageId}
        AND archived = TRUE;
    </select>

    <select id="findAllArchivedChildren" resultMap="PageResultMap">
        SELECT *
        FROM pages
        WHERE parent_id = #{pageId}
        AND archived = TRUE;
    </select>

    <update id="resetArchivedDatetime" parameterType="Long">
        UPDATE pages
        SET archived_at = null
        WHERE id = #{pageId};
    </update>
</mapper>