<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuannie.devatlas.user.domain.repository.UserRepository">

    <!-- ResultMap tells MyBatis how to build a Java object out of a result-set row when it can't (or you don't want it to) guess -->
    <resultMap id="UserResultMap" type="com.xuannie.devatlas.user.domain.model.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="passwordHash" column="password_hash"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modifiedAt"/>
    </resultMap>


</mapper>